@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.header {
  @include m.flex(space-between);

  > h1 {
    font-size: 42px;
  }

  > .today {
    @include m.flex(center, center, column);
    border-radius: 4px;
    font-size: 24px;
    padding: 20px;
    color: black;
    background-color: white;
  }
}

.nav {
  @include m.flex(space-between);

  > .button {
    @include m.flex(center, center, column);
    width: 200px;
    height: 120px;
    font-weight: 800;
    border: none;
    box-shadow: 1px 1px 2px c.$C_BLACK_50;

    > h1 {
      font-size: 24px;
      > span {
        text-shadow: 1px 1px 2px c.$C_BLACK_50;
        font-size: 42px;
      }
    }

    > h2 {
      font-size: 20px;
      align-self: flex-end;
      color: black;
    }

    > h3 {
      font-size: 12px;
      align-self: flex-start;
    }
  }
}
