@use "../../../styles/constants/" as c;
@use "../../../styles/mixins" as m;

.header {
  @include m.flex(space-between, center);

  > h1 {
    font-size: 42px;
    padding-bottom: 20px;
  }

  
}

.nav {
  @include m.flex(space-between);

  > .button {
    @include m.flex(center, center, column);
    width: 200px;
    height: 120px;
    font-weight: 800;
    border: none;
    box-shadow: 1px 1px 2px c.$C_BLACK_50;

    > h1 {
      font-size: 24px;
      > span {
        text-shadow: 1px 1px 2px c.$C_BLACK_50;
        font-size: 42px;
      }
    }

    > h2 {
      font-size: 20px;
      align-self: flex-end;
    }

    > h3 {
      font-size: 12px;
      align-self: flex-start;
    }
  }
}
