@use '../../../styles/constants/' as c;
@use '../../../styles/mixins' as m;

.wrap {
  height: 420px;
  position: relative;
  color: white;
  background-color: c.$C_WHITE_10; // 포스터 없는 영화
  border-radius: c.$S_RADIUS;
  overflow: hidden;
  transition: 0.2s transform ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.1) translateY(-10px);

    > .overlay {
      background-color: c.$C_BLACK_50;
      visibility: visible;
    }
  }

  > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  > .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: 0.2s background-color ease-in-out, 0.2s visibility ease-in-out;
  }
}

.overlay {
  @include m.flex(center, center, column);

  > .score {
    @include m.flex(flex-start);
    padding: 8px;
    font-size: 18px;
    color: white;
    font-weight: 600;

    svg {
      fill: c.$C_ORANGE;
      width: 24px;
      margin-right: 2px;
    }
  }
  > .title {
    @include m.flex();

    font-family: 'Black Han Sans';
    font-size: 32px;
    padding: 0px 8px;
  }
}
