.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 240px;
    padding: 20px;

    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.46);
    border-radius: 4px;

    > h1 {
      margin-bottom: 24px;
      font-size: 20px;
    }
  }
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputWrapper {
    width: 100%;
    > p {
      margin-bottom: 8px;
      font-size: 14px;
    }
    > input {
      width: 100%;
      padding: 8px;
      border: 1px solid #cccccc;
      border-radius: 4px;
    }
  }
  .inputWrapper + .inputWrapper {
    margin-top: 12px;
  }

  .submitButton {
    width: 100%;
    padding: 8px 0px;
    margin-top: 20px;
    background-color: antiquewhite;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
  }
}
