@use '../../../../styles/constants' as c;
@use '../../../../styles/mixins' as m;

.overlay {
  @include m.flex();
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 999;
}
.container {
  /* 모달창 크기 */
  width: 30%;
  height: 460px;

  /* 모달창 디자인 */
  background-color: c.$C_WHITE;
  border-radius: c.$S_RADIUS;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .title {
    height: 40px;
    min-width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 30px;
    background-color: c.$C_FOOTER;
    color: c.$C_WHITE;
    border-radius: c.$S_RADIUS c.$S_RADIUS 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  > .content {
    padding: 40px;
    width: 100%;
    font-weight: 600;
    line-height: normal;
    min-height: calc(100% - 110px);
    color: black;
    background-color: rgba(126, 125, 136, 0.205);

    .label {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    .textarea {
      padding: 12px;
      width: 100%;
      color: black;
      font-weight: 500;
      font-size: 14px;
      border: none;
      border-radius: 4px;
    }
  }

  .deleteUser {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 600;
    color: c.$C_ORANGE;
    &:hover {
      color: c.$C_HEART;
      > svg {
        fill: c.$C_HEART;
      }
    }
    > svg {
      height: 20px;
      fill: c.$C_ORANGE;
      margin-right: 5px;
    }
  }

  .buttonBox {
    background-color: rgba(126, 125, 136, 0.493);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-radius: 0 0 c.$S_RADIUS c.$S_RADIUS;

    .cancelButton,
    .resetButton,
    .submitButton {
      box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.46);
      margin-right: 20px;
      &:hover {
        filter: brightness(0.7);
      }
    }

    .cancelButton {
      background-color: c.$C_WHITE;
      color: black;
    }
    .resetButton {
      background-color: c.$C_PURPLE2;
    }
    .deleteButton {
      background-color: c.$C_FOOTER;
    }
  }
}
//CSSTransition
.modalEnterActive {
  opacity: 0;
  transform: scale(1.1);
}
.modalEnterDone {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modalExit {
  opacity: 1;
  transform: scale(1);
}
.modalExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
