@use "../../styles/constants" as c;

.wrapper {
  width: 100%;

  padding: 12px;
  position: relative;
  color: white;

  .box {
    position: relative;
    overflow: hidden;
  }

  .card {
    padding: 4px;
    position: relative;
    
    &:hover .aver{
      font-size: 40px;
      transition: .5s;
      transform: translateY(-50px);
    }

    .aver{
      position: absolute;
      font-size: 25px;
      margin-top : -35px;
      margin-left: 10px;
      z-index: 999;
      cursor: pointer;
    }
  }
  //카드
  .media {
    text-align: center;
    position: relative;
    max-width: 100%;
    border-radius: 4px;

    &:before {
      line-height: 1;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    &:hover{
      cursor: pointer;
      opacity: .5;
      transition: .5s;
      transform: translateY(-30px);
    }

    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: 0.5;
      }
    }


  }
}
