@use '../../../styles/constants' as c;
@use '../../../styles/mixins/' as m;

.label {
  .labelText {
    font-size: 12px;
    color: c.$C_WHITE;
  }

  .errorText {
    font-size: 12px;
    color: c.$C_RED;
  }

  &.error {
    .labelText {
      color: c.$C_RED;
    }
    .input {
      border: 1px solid c.$C_RED;
      background-color: c.$C_WHITE;
    }
  }

  &:not(.error)::placeholder {
    color: grey;
  }
}

.input {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin: 4px 0px;
}
