@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;
.wrapper {
  margin: 4px 0px;
  padding: 4px 0px;

  width: 100%;
  position: relative;
  color: white;
  float: left;
}

//comment
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  line-height: 160%;
  animation-delay: 0.3ms;
}
.box {
  margin: 12px;
  padding: 20px;

  position: relative;
  overflow: hidden;
  background-color: c.$C_REVIEWBOX;
  max-width: 16%;
  border-radius: 12px;
}
//comment
.top {
  margin-bottom: 4px;
  @include m.flex(space-between, flex-start);
}
.left {
  line-height: 24px;
  .title {
    font-size: 24px;
  }
  .date {
    font-size: 12px;
  }
}
.rating {
  @include m.flex();
  font-size: 20px;
  .star {
    fill: c.$C_STAR;
    height: 20px;
  }
}

.comment {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 20px;
  max-height: 200px;
  overflow-y: hidden;
}

.upDown {
  padding: 0 4px;
  @include m.flex();
  float: right;
  column-gap: 16px;
}

.up,
.down {
  @include m.flex();
  font-size: 12px;
  > svg {
    width: 12px;
    fill: white;
    transition: 0.1s transform ease-in;
  }
}

//nav

.ul {
  font-size: 16px;
  margin: 20px 0px;
  height: 100%;
  color: c.$C_ARROW;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: c.$C_ARROW;

  :hover,
  :active,
  :focus {
    color: c.$C_ORANGE;
    transform: scale(1.2);
  }

  li {
    margin: 0px 20px;
    line-height: 0px;
    cursor: pointer;

    border: none;
    outline: none;
  }
}

.Icon {
  height: 20px;
  width: 20px;

  fill: #551a88;
  :hover,
  :active {
    fill: c.$C_ORANGE;
  }
}
