@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

.br_container{
  font-size: 200px;
  width:2000px;
}



.br_modal{
    width: 280px;
    height: 220px;
  
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: c.$C_WHITE;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.46);

    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

}
.br_head{
  width : 100%;
  background-color: c.$C_ORANGE;
  margin-bottom: 20px;
  text-align: center;
  color : c.$C_WHITE;
  border-top-right-radius:c.$S_RADIUS;
  border-top-left-radius:c.$S_RADIUS;
}
.br_headText{
  line-height: 50px;
}

.br_content{
  text-align: center;
  line-height: 25px;
}


.br_buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 220px;
    margin-bottom: 30px;
}

.br_cancelButton{
    width:80px;
    height:40px;
    background-color: c.$C_WHITE;
    color: black;
    border-radius:c.$S_RADIUS;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.10);
  }
.br_deleteButton{
  width:80px;
  height:40px;
  background-color: c.$C_ORANGE;
  color: c.$C_WHITE;
  border-radius:c.$S_RADIUS;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.10);
}