@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;


.tableBody{
    @include m.flex(space-between);
    flex-direction: row;
    column-gap: 30px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fceea8;
    align-items: stretch;

}