.Wrapper{
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Row , box == <{ bgPhoto: string }> 모션div 적용하기 */

.Row{
  position: absolute;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  height: 400px;
}

.Button{
  position: absolute;
  height: 400px;
  width: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  color: white;
  z-index: 1;
}

.Box{
  background-color: white;
 /* background-image: url(${(props) => props.bgPhoto});*/
  background-size: cover;
  background-position: center center;
  &:first-child {
    transform-origin: center left;
  }
  &:last-child {
    transform-origin: center right;
  }
}