$C_LOGO: #ff9900;

$C_RED: red;
$C_ORANGE: #ff9900;
$C_WHITE: #ffffff;

$C_BACKGROUND: #18122b;
$C_FOOTER: #393053;
$C_PURPLE1: #443c68;
$C_PURPLE2: #635985;

$C_INDIGO1: #261e3e; //드롭다운UP, 코멘트등록
$C_INDIGO2: #18122b; //드롭다운DOWN, 대댓글
$C_INDIGO3: #4b465a; //드롭다운HOVER, 마이페이지 카드
