$C_LOGO: #ff9900;

$C_RED: red;
$C_ORANGE: #ff9900;
$C_WHITE: #ffffff;
$C_BLACK: #000000;

$C_BACKGROUND: #18122b;
$C_FOOTER: #393053;
$C_PURPLE1: #443c68;
$C_PURPLE2: #635985;

$C_WHITE_10: rgba(255, 255, 255, 0.1);
$C_WHITE_50: rgba(255, 255, 255, 0.5);
$C_ARROW: #d9d9d9;
$C_STAR: #ffe600;
$C_REVIEWBOX: #4b465a;

$C_RECOMMENT: #373550;
$C_PAGINATION: #551a88;
$C_REVIEWBOX_20: #5b5769;

$C_BLACK_10: rgba(0, 0, 0, 0.1);
$C_BLACK_30: rgba(0, 0, 0, 0.3);
$C_BLACK_50: rgba(0, 0, 0, 0.5);
