@use "../../../styles/constants" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color: c.$C_OB_YELLOW;
  border: 1px solid #787878;

  input + svg {
    fill: #787878;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > input:not(:checked) + svg {
    display: none;
  }
}
