@use "../../../styles/mixins" as m;
@use "../../../styles/constants" as c;

.wrap {
  width: 100%;
  color: c.$C_WHITE;
  padding: 16px;
  background-color: transparent;
  margin-bottom:10px;

  svg {
    margin-right: 2px;
  }

  button {
    border: none;
    outline: none;
    background-color: transparent;
    color: c.$C_WHITE;
    cursor: pointer;
  }

  > header {
    @include m.flex(space-between, flex-start);
    padding-bottom: 12px;
  }

  > .comment {
    font-size: 16px;
  }
}

.left {
  @include m.flex();

  > .profileIcon {
    background-color: pink;
//    background-color: c.$C_WHITE_10;
    padding: 12px;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  > .profileText {
    height: 100%;

    > .userName {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 4px;
    }

    > .date {
      font-size: 12px;
    }
  }
}

.right {
  @include m.flex();
  column-gap: 12px;

  > .rating {
    @include m.flex();
    font-size: 20px;
    font-weight: 600;

    > svg {
      width: 20px;
      fill: c.$C_STAR;
    }
  }
  > .upDown {
    @include m.flex();
    column-gap: 8px;
    padding: 0 8px;
    border-left: 1px solid c.$C_WHITE;
    border-right: 1px solid c.$C_WHITE;

    > button:hover {
      > svg {
        transform: translateY(-2px) scale(1.1);
      }
    }
  }

  button {
    @include m.flex();

    > svg {
      width: 16px;
      fill: c.$C_WHITE;
      transition: 0.1s transform ease-in;
    }
  }
}

.child,
.preview {
  button {
    font-size: 12px;
  }

  .right {
    > .upDown {
      border-left: none;

      svg {
        width: 12px;
      }
    }
  }

  > .comment {
    font-size: 14px;
  }

  // 대댓 icon
  .IShare {
    width: 16px;
    fill: c.$C_WHITE;
    transform: rotate(180deg) rotateY(180deg);
    margin-right: 8px;
  }

  .profileIcon {
    padding: 8px;
    font-size: 20px;
  }

  .profileText {
    @include m.flex();

    > .userName {
      font-size: 20px;
      font-weight: 600;
      padding: 0;
    }

    .date {
      font-size: 10px;
      padding-left: 4px;
    }
  }
}

.preview {
  max-width: 420px;
  background-color: c.$C_WHITE;
  border-radius: c.$S_RADIUS;
  box-shadow: 2px 2px 4px 1px #333;
  color:c.$C_BLACK;
  .profileIcon {
    background-color: rgba(1, 1, 1, 0.1);
  }
}

.child {
  background-color: c.$C_WHITE_10;
  padding-left: 40px;
}
