// Logo
@font-face {
  font-family: "Black Han Sans";
  src: url("./fonts/Black_Han_Sans/BlackHanSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

// Lato : 100(thin), 200(light), 400(regular), 600(bold), 800(black)
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
} // default : 400

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 800;
}
