@charset "UTF-8";

/* Slider */
.slider {
  margin: 10px 20px;
  font-size: 24px;
}

.slick-slider {
  background-color: blue; //삭제 가능!
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;

  &:focus {
    outline: none;
  }
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-track {
  position: relative;
  display: block;
  margin: auto;

  &:before,
  &:after {
    display: table;
    content: "";
  }
  &::after {
    clear: both;
  }
}

.slick-slide {
  float: left;
  min-height: 1px;
}

/* Arrow */
$slick-loader-path: "./";
$slick-prev-character: url(../assets/icon/caret-left.svg);
$slick-next-character: url(../assets/icon/caret-right.svg);

.slick-prev,
.slick-next {
  position: absolute;
  height: 20px;
  width: 20px;
  line-height: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;

  top: 50%;

  padding: 0;
  border: none;
  outline: none;

  &:before {
    line-height: 1;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
    color: transparent;
    &:before {
      opacity: 0.5;
    }
  }
}

.slick-prev {
  left: -55px; //왜 저기있는지 모르겠습니다..

  &:before {
    content: $slick-prev-character;
  }
}

.slick-next {
  right: -55px;

  &:before {
    content: $slick-next-character;
  }
}
