@use '../../styles/constants' as c;
@use '../../styles/mixins' as m;

.wrapper {
  padding: 0 4%;
  padding-bottom: 30px;
  position: relative;
}

.screen {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;

  &:hover,
  :active {
    .postImage {
      opacity: 0.2;
      transition: 0.5s;
      transform: translateY(-10px);
    }
    .layerUp {
      z-index: 5;
      .icon {
        &:hover,
        :active {
          z-index: 999;
          transform: scale(1.2);
        }
      }
    }
  }
}

.layerUp {
  width: 90%;
  left: 5%;
  bottom: 8%;
  @include m.flex(space-between, flex-start);
  position: absolute;
  z-index: -2;
  white-space: nowrap;

  .title {
    width: calc(95% - 20px);
    font: 18px bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .icon {
    width: 20px;
    fill: c.$C_HEART;
  }
}

.layerDown {
  position: relative;

  .postImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
  }
}
