@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrapper {
  padding: 12px;
  position: relative;
}

.screen {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover,
  :active {
    .layerDown {
      opacity: 0.2;

      transition: 0.5s;
      transform: translateY(-10px);
    }
    .layerUp {
      z-index: 5;
      .heart {
        &:hover,
        :active {
          z-index: 999;
          transform: scale(1.2);
        }
      }
    }
  }
}

.layerUp {
  @include m.flex(space-between, flex-start);
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: -2;

  width: 95%;
  font-size: 24px;
  white-space: nowrap;
  .title {
    font-size: 24px;
    width: 70%;
    overflow: hidden;
    color: c.$C_WHITE;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .heart {
    width: 24px;
    margin-right: 5%;
    fill: c.$C_HEART;
  }
}

.layerDown {
  position: relative;

  .postImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
  }
}
