@use '../../../styles/mixins' as m;
@use '../../../styles/constants' as c;

// 아코디언 전체를 감싸는 wrap
.accordionWrap {
  width: 100%;
  margin-bottom: 20px;
  color: c.$C_WHITE;
  border: 1px solid c.$C_WHITE_10;
  border-radius: c.$S_RADIUS_SMALL;
}

// 로그아웃 상태 : 댓글 작성창에 뜨는 문구
.logout {
  @include m.flex();
  width: 100%;
  background-color: c.$C_WHITE_10;
  padding: 8px;
  margin: 8px 0;
  font-size: 12px;
  color: white;
  opacity: 0.5;
  transition: 0.2s opacity ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

// 로그인 상태 : 댓글 쓰는 곳
.commentInputWrap {
  @include m.flex(space-between);
  width: 100%;
  gap: 12px;
  padding: 32px 16px;

  > .userName {
    @include m.flex();

    max-width: 80px;
    padding: 4px;
    font-size: 14px;
    font-weight: 600;
  }

  > .input {
    flex-grow: 1;
    background-color: c.$C_WHITE_10;
    border-radius: c.$S_RADIUS_SMALL;

    > input {
      width: 100%;
      padding: 4px 12px;
      border: none;
      background-color: transparent;
      color: white;
    }
  }

  > button {
    width: 52px;
    padding: 8px;
    border-radius: c.$S_RADIUS_SMALL;
    background-color: c.$C_WHITE_10;
    transition: 0.2s background-color ease-in, 0.2s color ease-in;

    &:hover {
      background-color: white;
      color: c.$C_PURPLE1;
    }
  }
}

// 댓글 드롭다운 버튼
.showCommentsButton {
  @include m.flex();
  padding: 0 0 16px 16px;
  font-size: 16px;

  > svg {
    transition: transform 0.3s ease-in-out;
  }

  &.isShow {
    > svg {
      transform: rotate(0deg);
    }
    & + .commentWrap {
      visibility: visible;
      max-height: 100vh;
    }
  }
}

// 댓글 드롭다운 Wrap
.commentWrap {
  transition: max-height 0.3s ease-in-out, visibility 0.3s ease-in-out;
  visibility: hidden;
  max-height: 0px;
  overflow-y: scroll;
}
