@use "../../styles/constants/" as c;

.wrapper {
  background-color: c.$C_BACKGROUND;
  color: c.$C_WHITE;
  font-weight: 800;
  font-size: 24px;
  padding: 20px 10px;
}
.ranking,
.category {
  padding: 20px 100px;
}

.sectionBody {
  width: 500px;
}
