@use "../../styles/constants" as c;
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lato:wght@300&display=swap");

.wrapper {
  background-color: #18122b;
  color: white;
  font-weight: 800;
  font-size: 36px;
  padding: 50px;
}

.sectionBody {
  width: 500px;
}
