@use "../../styles/constants" as c;

.wrapper {
  background-color: #18122b;
  color: white;
  font-weight: 800;
  font-size: 24px;
  padding: 50px;
  overflow-y: scroll;
}
.categoryWrapper {
  margin: 80px;
}
.sectionBody {
  width: 500px;
}
