@use '../../styles/constants/' as c;
@use '../../styles/mixins' as m;


.titleWrapper{
    @include m.flex(center , center);
    flex-direction: column;
    width: 100%;
    height: 260px;

    .titleBox{
        @include m.flex();
        position: relative;
        height: 220px;
        font-size: 70px;
        animation: flicker 1.5s infinite alternate;
        border: 0.2rem solid #fff; 
        border-radius: 2rem; 
        flex-direction: column;
        row-gap: 80px;
        padding: 0.4em; 
        box-shadow: 0 0 .2rem #fff, 
        0 0 .2rem #fff, 0 0 2rem #ff9900, 
        0 0 0.8rem #ff9900, 0 0 2.8rem #ff9900, 
        inset 0 0 1.3rem #ff9900;

    }

    .title{
        font-size: 80px;
        animation: flicker 1.5s infinite alternate;
        margin-top: 50px;

    }
    
    .caption{
        @include m.flex(center , center);
        font-size: 30px;
        animation: flicker 1.5s infinite alternate;
        margin-top: -50px;
        margin-bottom: 50px;
    }

}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #ff9900,
        0 0 80px #ff9900,
        0 0 90px #ff9900,
        0 0 100px #ff9900,
        0 0 150px #ff9900;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
