@use '../../styles/constants/' as c;
@use '../../styles/mixins' as m;


.title{
    @include m.flex();
    justify-content: center;
    align-items: center;
    font-size: 80px;
    text-shadow: 0 0 200px black;
    min-height:180px;
    animation: flicker 1.5s infinite alternate;
    flex-direction: column;
    
    .caption{
        font-size: 30px;
        margin-top: -30px;;
        margin-bottom: 50px;
    }
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(207, 51, 147),
        0 0 80px rgb(207, 51, 147),
        0 0 90px rgb(207, 51, 147),
        0 0 100px rgb(207, 51, 147),
        0 0 150px rgb(207, 51, 147);
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
