@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins" as m;

.wrap {
  background-color: c.$C_ORANGE;
  width: 100%;
  display: grid;

  grid-template-columns: 40px 2fr 1fr 1fr 1fr ;
  margin-bottom: 8px;
  max-height: 80px;
  &.users{
    grid-template-columns: 40px 2fr 2fr 1fr 1fr 1fr ;
  }
  &.reviews {
    grid-template-columns: 40px 2fr 1fr 2fr 1fr 1fr;

    > li:nth-child(5) {
      @include m.flex(center, flex-start);
    }
  }

  > li {
    @include m.flex();
    max-height: 80px;
    padding: 8px 4px;
  }
}
