@use "../../styles/constants" as c;

.wrapper {
  width: 100%;
  padding: 12px;
  position: relative;
  overflow: hidden;
}

//카드
.card {
  text-align: center;
  position: relative;
  border-radius: 4px;
  width: 100%;
}

.card:hover,
.card:active {
  opacity: 0.5;
}
