@use "../../styles/constants/" as c;

.footerBody {
  position: fixed;
  bottom: 0px;
  width: 100%;

  display: flex;
  align-items: center;

  padding: 10px;
  height: auto;
  background-color: c.$C_FOOTER;
  color: c.$C_WHITE;

  .footerName {
    flex-grow: 1;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height: auto;

    > h1 {
      font-size: 24px;
    }
    > h2 {
      font-size: 12px;
    }
  }

  .footerInfo {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height: auto;

    > p {
      font-size: 12px;
    }
    > a {
      font-size: 12px;
      text-decoration-line: none;
    }
  }
}
