@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrap {
  @include m.flex(space-between);
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 12px;
  font-size: 12px;
  background-color: c.$C_FOOTER;
  color: c.$C_WHITE;

  > div {
    > p:first-of-type {
      margin-bottom: 4px;
    }
  }

  .left {
    > p:first-of-type {
      font-size: 24px;
      font-family: "Black Han Sans";
    }
  }

  a {
    color: white;
  }
}
