@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrap {
  @include m.flex(space-between);
  height: 60px;
  padding: 0 c.$S_LAYOUT_PADDING;
  column-gap: 10px;
  background-color: c.$C_WHITE_10;

  > .right {
    @include m.flex();
  }
}

.searchInput {
  margin-right: 8px;
  width: 300px;

  input {
    border: none;
    background-color: c.$C_WHITE_10;
    color: white;
  }
  svg {
    fill: c.$C_WHITE;
  }
}

.logo {
  height: 100%;
  font-size: 42px;
  color: c.$C_LOGO;
  font-family: "Black Han Sans";
  padding-top: 5px; // 로고가 정 중앙에 안와서, padding-top 넣음
}

.headerSign {
  height: 32px;
  color: c.$C_WHITE;
  font-size: 16px;
  font-weight: 600;
}
