@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;

.wrap {
  height: 100vh;
  background-color: c.$C_BACKGROUND;
  overflow-y: scroll;

  > section {
    padding: c.$S_LAYOUT_PADDING;
  }
}
