@use "../../styles/mixins" as m;
@use "../../styles/constants" as c;

// type 공통
.wrap {
  min-width: 500px; // width는 각 page에서 조절
  color: c.$C_WHITE;
  padding: 16px;
  background-color: transparent;
  margin-bottom: 10px;
  border-radius: c.$S_RADIUS;

  > header {
    @include m.flex(space-between, flex-start);
    padding-bottom: 12px;
  }

  > .comment {
    font-size: 16px;
  }
}

// type = child & preview
.child,
.preview {
  > .comment {
    font-size: 14px;
  }
}

// type = preview
.preview {
  background-color: c.$C_WHITE;
  box-shadow: 2px 2px 4px 1px #333;
  color: c.$C_BLACK;
}

// type = child
.child {
  background-color: c.$C_WHITE_10;
  padding-left: 40px;
}

// type = commentInput
.commentInput {
  .comment {
    @include m.flex();
    height: 160px;

    > .inputWrap {
      @include m.flex();
      flex-grow: 1;
      height: 100%;
      padding: 12px;
      font-size: 16px;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    > button {
      margin-left: 8px;
      width: 120px;
      height: 100%;
      border-radius: 4px;
      font-size: 20px;
      padding: 32px;
      font-weight: 600;
    }
  }
}
