@use '../../../styles/mixins' as m;
@use '../../../styles/constants' as c;

.wrap {
  width: 600px;
  position: relative;
  top: 9%;
  color: c.$C_BLACK;
  padding: 16px;
  margin-bottom: 20px;
  background-color: c.$C_WHITE;
  box-shadow: 2px 2px 4px 1px #333;
  border-radius: c.$S_RADIUS_SMALL;

  > header {
    @include m.flex(space-between, flex-start);
    padding-bottom: 12px;
  }
  > main {
    padding: 8px 4px;
    font-size: 14px;
    overflow: scroll;
  }
}
