@use '../../../styles/constants/' as c;
@use '../../../styles/mixins' as m;

$HEADER_INFO_PADDING: 20px;

.detailInfoWrap {
  width: 100%;
  height: 680px;
  position: relative;

  > img {
    width: 100%;
    height: 100%;
    padding: 4px;
    object-position: center;
    object-fit: cover;

    // MEMO: px 올릴수록 더 흐려짐
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }

  > .overlay {
    @include m.flex();
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    color: white;
    background-color: c.$C_BLACK_50;

    > .headerContentWrap {
      @include m.flex(flex-start, flex-start);
      width: 1000px;
      height: 450px;
    }
  }
}

.leftWrap {
  @include m.flex(space-between, center, column);
  margin-right: 60px;
  height: 100%;
  width: 280px;

  > img {
    width: 280px;
    height: 388px;
    object-position: center;
    object-fit: cover;
  }

  > .buttonWrap {
    @include m.flex();
    width: 100%;

    > .button {
      font-weight: 800;
      width: 50%;
      height: 48px;
      font-size: 16px;
      font-weight: 500;
      background-color: #232c4d;

      &:hover > svg {
        transform: translateY(-1px) scale(1.1);
      }

      > svg {
        fill: white;
        width: 12px;
        margin-right: 4px;
        transition: 0.2s transform ease-in;
      }

      &:first-of-type {
        margin-right: 4px;
      }

      &:last-of-type {
        > svg {
          width: 16px;
        }
      }
    }
  }
}

.rightWrap {
  max-width: 650px;
  height: 100%;
  @include m.flex(space-between, flex-start, column);

  > header {
    width: 100%;
    font-weight: 600;
    padding-bottom: $HEADER_INFO_PADDING;
    border-bottom: 1px solid white;
    margin-bottom: $HEADER_INFO_PADDING;
    > .title {
      font-size: 36px;
      margin-right: 12px;
    }
    > .runtime {
      margin-right: 4px;
    }
  }

  .info {
    > article {
      width: 100%;
      padding-bottom: $HEADER_INFO_PADDING;
      color: c.$C_WHITE_80;
      font-size: 14px;

      > h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 0 8px 6px 0;
        color: white;
        letter-spacing: 0.5px;
      }

      .plot {
        width: 100%;
        max-height: 100px;
        text-overflow: ellipsis;
        letter-spacing: 0.5px;
        overflow-y: auto;
        font-size: 12px;
      }
    }
  }
}

.chartStarWrap {
  width: 120px;
  @include m.flex(center, center, column);
  justify-self: flex-end;

  > .starWrap {
    @include m.flex();
    font-size: 16px;

    > span {
      padding-right: 4px;
    }
    > svg {
      width: 18px;
      fill: c.$C_ORANGE;
    }
  }
}

//TODO: 제작/스태프 부분 스타일 변경
.staffs {
  width: 100%;
  max-height: 60px;
  overflow-y: auto;
  text-overflow: ellipsis;

  > span {
    letter-spacing: 0.5px;
    line-height: 1.2;
    padding-right: 4px;
    font-size: 14px;
  }
}
