@use "../../styles/constants/" as c;

.wrap {
  background-color: c.$C_BACKGROUND;
  margin: 3% 20%;
  color: c.$C_WHITE;
}
.contentbox,
.commentbox {
  padding: 20px 0;
  font-size: 22px;
  height: 100%;
}
.sectionBody {
  width: 500px;
}
