@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.wrap {
  @include m.flex(space-between);
  min-height: 60px;
  padding: 10px c.$S_LAYOUT_PADDING;
  column-gap: 10px;
  background-color: c.$C_WHITE_10;

  > .right {
    @include m.flex();
  }
}

.searchInput {
  margin-right: 8px;
  width: 300px;

  input {
    border: none;
    background-color: c.$C_WHITE_10;
    color: white;
  }
  svg {
    fill: c.$C_WHITE;
  }
}

.logo {
  height: 100%;
  font-size: 42px;
  color: c.$C_LOGO;
  font-family: 'Black Han Sans';
  padding-top: 5px; // 로고가 정 중앙에 안와서, padding-top 넣음
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.login {
  @include m.flex();
  gap: 8px;

  svg {
    fill: white;
    width: 18px;
    height: 18px;
    transition: 0.2s transform ease-in;

    &:hover {
      transform: scale(1.1) translateY(-1px);
    }
  }
}
