@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.wrap {
  @include m.flex(space-between);
  min-height: 60px;
  padding: 10px c.$S_LAYOUT_PADDING;
  column-gap: 20px;
  background-color: c.$C_WHITE_10;

  .logo {
    height: 100%;
    width: 180px !important;
    font-size: 42px;
    color: c.$C_LOGO;
    font-family: 'Black Han Sans';
    padding-top: 5px; // 로고가 정 중앙에 안와서, padding-top 넣음
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
  }

  .right {
    @include m.flex(right);
    width: calc(100% - 200px); //전체-갭-로고
    float: right;
    .headerSign {
      padding: 8px;
      font-size: 16px;
    }
  }
}

.searchInput {
  @include m.flex();
  margin-right: 16px;

  width: 500px;
  max-width: 50%;

  input {
    border: none;
    background-color: c.$C_WHITE_10;
    color: white;
    opacity: 0.6;
    transition: 0.2s opacity ease-in;
    padding: 12px;
    font-size: 16px;
    &:focus {
      opacity: 1;
    }
  }

  button {
    > svg {
      width: 22px;
      fill: c.$C_WHITE;
      opacity: 0.6;
    }
  }
}

.login {
  @include m.flex();
  gap: 16px;

  svg {
    fill: white;
    width: 22px;
    height: 22px;
    opacity: 0.6;
    transition: 0.2s opacity ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
