@use "../../styles/constants" as c;
@use "../../styles/mixins" as m;
.wrapper {
    width: 100%;
  height: 100%;
  padding: 12px;
  position: relative;
}

.screen {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover,
  :active {
    .layerDown {
      opacity: 0.2;
      transition: 0.5s;
      transform: translateY(-10px);
    }
    .layerUp {
      z-index: 5;
      .bottom {
        .heart {
          &:hover,
          :active {
            z-index: 999;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}

.layerUp {
  z-index: -2;
  width: 95%;
  white-space: nowrap;
  .title {
    text-align: center;
    justify-content: center;

    position: absolute;
    bottom: 50%;
    margin: 0 auto;
    z-index: -2;
    width: 95%;

    font-size: 24px;
    overflow: hidden;
    color: c.$C_WHITE;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .bottom {
    @include m.flex(flex-end, flex-end);
    position: absolute;
    top: 5%;
    right: 8%;
    width: 90%;

    white-space: nowrap;
    .rating {
     
      font-size: 40px;
      white-space: nowrap;
      color: white;
      .star {
        margin-right: 5%;
        fill: c.$C_STAR;
        height: 40px;
      }
    }
    .heart {
      height: 22px;
      width: 22px;
      margin-right: 5%;
      fill: red;
    }
  }
}

.layerDown {
  position: relative;

  .postImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}


