.wrapper {
  height: 100%;

  padding: 12px 10%;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, 0.685);

  .header {
    width: 100%;
    margin: 10px auto;
    font-size: 32px;
  }

  > img {
    padding: 20px 10%;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
}
.img {
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.slideBefore {
  opacity: 0.7;
  transform: scale(0.7);
  transition: 0.5s;
}

.slideActive {
  opacity: 1;
}
