@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

//CSSTransition
.modalEnterActive {
  opacity: 0;
  transform: scale(1.1);
}
.modalEnterDone {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}
.modalExit {
  opacity: 1;
  transform: scale(1);
}
.modalExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.overlay {
  @include m.flex();
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.46);
  z-index: 999;
}
.container {
  /* 모달창 크기 */
  min-width: 15%;
  height: 300px;

  /* 모달창 디자인 */
  background-color: c.$C_WHITE;
  border-radius: c.$S_RADIUS;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > .title {
    height: 40px;
    min-width: 100%;
    font-size: 1.3vw;
    font-weight: 600;
    padding: 30px;
    background-color: c.$C_FOOTER;
    color: c.$C_WHITE;
    border-radius: c.$S_RADIUS c.$S_RADIUS 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  > .content {
    padding: 5% auto;
    min-width: 100%;
    height: calc(100% - 70px);

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 1vw;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
//card
.screen {
  width: 100%;
  height: 250px;
  padding: 5%;
  background-color: c.$C_REVIEWBOX;
  display: block;
  position: relative;
  line-height: normal;
  cursor: pointer;

  &:hover {
    .layerDown {
      .icon {
        &:hover {
          z-index: 999;
          transform: scale(1.2);
          fill: c.$C_ORANGE;
          opacity: 0.2;
          transition: 0.5s;
        }
      }
    }
  }
}

.layerDown {
  width: 100%;
  height: 100%;
  position: relative;

  .top {
    @include m.flex(space-between, flex-start);
    height: 20%;

    .left {
      width: calc(100% - 50px);
      padding-right: 6px;
      padding-bottom: 6px;

      .title,
      .createdAt {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .title {
        font-weight: bold;
        font-size: 18px;
      }
      .createdAt {
        font-size: 14px;
      }
    }
    .right {
      font-size: 20px;
      width: 44px;
      column-gap: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      .star {
        width: 18px;
        fill: c.$C_STAR;
      }
    }
  }
  .content {
    height: 176px; //전체 -screen/padding - top/height - content/padding
    width: 100%;

    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 8; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 22px; //line-height?1.2em. 3라인을 자르기때문에 height? 1.2em*3 =3.6em;
  }
}
