@use '../../styles/constants/' as c;
@use '../../styles/mixins/' as m;

//MyCarousel
.mywrap {
  min-height: 190px; //기본크기. 수정X.
  margin-bottom: 10px;
}
.category {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  .categoryIcon {
    fill: orange;
    height: 20px;
    margin-right: 5px;
  }
}
.icon {
  fill: c.$C_HEART;
  height: 19px;
  margin-top: 4px;
}
