@use "../../styles/constants/" as c;
@use "../../styles/mixins" as m;


 .list { 
    width:490px;

    >.table {
    width:100%;
    }
    >.th , td  { 
        text-align: center; 
        height: 40px; 
        border-bottom: 1px solid #dcdcdc;
        background-color: #fff; 
        vertical-align: middle;
    }
    >.th{
        border-bottom: 2px solid #000;
    }
    >.tr:hover{
        background-color: rgba(0, 0, 0, 0.165);
    }
    >thead tr:hover{
        background-color: #fff
    }
}