@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.info {
  @include m.flex(space-between, flex-start);
  padding: 0 7%;

  .img {
    margin-right: 4%;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    background-color: c.$C_ORANGE;
  }
}

.text {
  width: 100%;
  height: 250px;
  padding: 3% 4%;
  border-radius: 20px;
  background-color: c.$C_REVIEWBOX;
  overflow: hidden;
}

.infoTop {
  @include m.flex(space-between, flex-start);
  min-width: 100%;
  height: 20%;
  padding: 0 1%; //소개글보다 약간 안쪽으로 들어옴
  padding-bottom: 20px;
  .userName {
    min-width: 100%;
    font-size: 26px;
    font-weight: 600;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .setting {
    > svg {
      height: 26px;
    }
    :hover {
      cursor: pointer;
      fill: c.$C_ORANGE;
    }
  }
}

.introduce {
  background-color: c.$C_REVIEWBOX_20;
  padding: 1.5%;
  border-radius: 8px;
  height: 70%;
  font-size: 21px;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category {
  @include m.flex(space-between, flex-start);
  padding: 4% 0;
  .rating,
  .isliked,
  .review {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color: c.$C_REVIEWBOX;
    border: 3px dashed white; //리뷰박스랑 비슷해서 임시로 넣은것. 이후 삭제.

    .top,
    .middle,
    .bottom {
      height: 40px;
      min-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      gap: 4px;
      padding: 30px 0;
    }
    .top {
      font-size: 18px;
    }
    .middle {
      padding-bottom: 40px;
      font-size: 36px;
      font-weight: 700;
      color: c.$C_ORANGE;
      &:hover {
        transform: scale(1.2);
      }
    }
    .bottom {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

//inputModal
.inputModal {
  color: red;
  background-color: black;
  width: 50%;
}

//inputModal
.inputModal {
  color: red;
  background-color: black;
  width: 50%;
}

.modal {
  color: black;
}
