@use '../../../styles/constants' as c;
@use '../../../styles/mixins' as m;

.fixed {
  position: fixed;
  bottom: 0;
}

.wrap {
  @include m.flex(space-between);
  width: 100%;
  padding: c.$S_LAYOUT_PADDING;
  font-size: 12px;
  background-color: c.$C_FOOTER;
  color: c.$C_WHITE;

  > div {
    > p:first-of-type {
      margin-bottom: 4px;
    }
  }

  .left {
    > .logo {
      font-size: 24px;
      font-family: 'Black Han Sans';
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-use-select: none;
      user-select: none;
      margin-bottom: 4px;
      cursor: pointer;
    }
  }

  a {
    color: white;
  }

  a:focus {
    color: white;
    background-color: transparent;
  }
}
