@use "../../../styles/constants" as c;

.wrapper {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: c.$C_PURPLE2;
  border-radius: 4px;

  > input:not(:checked) + svg {
    display: none;
  }
}
