@use '../../../../../styles/constants/' as c;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: c.$C_BACKGROUND;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 240px;
    padding: 20px;
    background-color: c.$C_PURPLE1;
    border-radius: c.$S_RADIUS_SMALL;

    > h1 {
      margin-bottom: 24px;
      font-size: 20px;
      color: white;
    }
  }
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputWrap {
    width: 100%;
    margin-bottom: 24px;
    > input {
      padding: 12px;
    }
  }

  > .button {
    width: 100%;
    border-radius: c.$S_RADIUS_SMALL;
    margin-bottom: 8px;
    background-color: c.$C_WHITE_10;
    transition: 0.2s background-color ease-in;
    &:hover {
      background-color: c.$C_ORANGE;
    }
  }
}
