@use "../../../../styles/mixins" as m;
@use "../../../../styles/constants" as c;

// 공통
.left {
  @include m.flex();
  height: 100%;

  > .profileIcon {
    background-color: pink;
    padding: 12px;
    font-size: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  > .profileText {
    height: 100%;

    > .userName {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 4px;
    }

    > .date {
      font-size: 12px;
    }
  }
}

// type = child일 때 들어가는 답글 아이콘
.IShare {
  width: 16px;
  fill: c.$C_WHITE;
  transform: rotate(180deg) rotateY(180deg);
  margin-right: 8px;
}

// type = child & preview 일 때, 스타일 변화
.left {
  // type = preview는 프로필 아이콘 배경색 변경
  &.preview {
    .profileIcon {
      background-color: rgba(1, 1, 1, 0.1);
    }
  }

  &.child,
  &.preview {
    .profileIcon {
      padding: 8px;
      font-size: 20px;
    }

    .profileText {
      @include m.flex();

      > .userName {
        font-size: 20px;
        font-weight: 600;
        padding: 0;
      }

      .date {
        font-size: 10px;
        padding-left: 4px;
      }
    }
  }
}
